dist
build
typings
node_modules

.npm
.cache
.env
.env.test
.env*.local
.eslintcache
*.tsbuildinfo

.DS_Store
.AppleDouble
.LSOverride
.history
.ionide

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk